In [2]:
#1. Import Pandas and check the version

import pandas as pd

pd.__version__

'1.1.4'

In [5]:
#2. Create a series of numpy array
import numpy as np
import pandas as pd

arr = np.arange(10)

ser = pd.Series(arr)
print(ser)
print()
print(type(ser))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

<class 'pandas.core.series.Series'>

In [44]:
#3. Convert index of a series to column of DataFrame

import pandas as pd
import numpy as np

ser = pd.Series({1:'a',3:'b',5:'c'})

df_1 = pd.DataFrame(ser,columns=["Content"])
print(df_1)
print()
df_1.reset_index(inplace=True)
print(df_1)

  Content
1       a
3       b
5       c

   index Content
0      1       a
1      3       b
2      5       c

In [48]:
#4. Code to list all datasets available in seaborn ; Load mpg dataset
import seaborn as sns
mpg = sns.load_dataset('mpg')
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [57]:
#5. Which Country origin cars are part of this dataset
import seaborn as sns
mpg=sns.load_dataset('mpg')
mpg.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [61]:
#6. Extract part of the dataframe which contains car belonging to 'USA'.

import seaborn as sns
 
mpg = sns.load_dataset('mpg')

df_USA = mpg[mpg['origin'] == "usa"]
print(df_USA)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]